* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #3D5AFE;
  --lt-blue: #8C9EFF;
  --bold-yellow: #FFEA00;
  --yellow: #FFFF8D;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--blue);
}