* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "custom";
  src: url(/fonts/neuropolitical\ rg.otf);
}

:root {
  --blue: #3D5AFE;
  --lt-blue: #8C9EFF;
  --bold-yellow: #FFEA00;
  --yellow: #FFFF8D;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: custom, 'Courier New', Courier, monospace;
  background-color: var(--lt-blue);
}

header {
  background-color: var(--blue);
  width: 100%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
}