* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "custom";
  src: url(/fonts/neuropolitical\ rg.otf);
}

a {
  text-decoration: none;
  color: white;
}

#body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
  font-family: custom, 'Courier New', Courier, monospace;
  background: linear-gradient(135deg, #97ABFF 0%, #123597 100%);
  color: white;
}

header {
  width: 100%;
  text-align: center;
  
}

header>h1 {
  font-weight: lighter;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 90px;
}

form>input {
  background-color: #8c9dff;
  border-radius: 1em;
  border: none;
  padding: 2px 6px;
  padding-left: 10px;
}

.button {
  position: relative;
  width: 120px;
  height: 30px;
  background-color: #001569;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 4px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 38px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #97ABFF 0%, #123597 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #97ABFF 0%, #123597 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.button:hover::after {
  filter: blur(30px);
}

.button:hover::before {
  transform: rotate(-180deg);
}

.button:active::before {
  scale: 0.7;
}

.display {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 340px;
  width: 300px;
}

.locationName {
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
}

.subHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  padding: 10px;
}

#locationSpan {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardBody {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img {
  height: 140px;
  width: auto;
}

span {
  margin-top: -10px;
  background: linear-gradient(165deg, #ffffff78 -113.24%, rgba(255, 255, 255, 0.00) 97.65%);
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
}

span:hover {
  background-color: #97acff7a;
}

.forcastDisplay {
  padding: 6px;
  display: none;
  justify-content: space-between;
  width: 440px;
}

.forcastCard {
  text-align: center;
  font-size: 19px;
  height: 260px;
  width: 130px;
  display: flex;
  padding: 20px 2px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
   
  border-radius: 40px;
  
  background: linear-gradient(165deg, #FFF -113.24%, rgba(255, 255, 255, 0.00) 97.65%);
}

small {
  font-size: 15px;
}

#sunup, #sundown, #hiTemp, #lowTemp {
  font-size: 10px;
  padding: 5px 0;
  color: rgba(197, 197, 197, 0.711);
}


footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 10px;
}

footer>a {
  display: flex;
}

footer>a:hover {
  color: #8c9dff93;
}

